<script>
  $('.steps').remove() 
</script>

<div class="row">
  <form action="/users/<%= @user.id %>" method="POST">
    <h2>Hey, you're new! Add your name</h2>
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <input name="_method" type="hidden" value="PUT">
    <input type="text" data-attr="user-name" placeholder="Enter name here" required>
    <button type="submit" data-action="add-user-name">Submit</button>
  </form>
</div>