<!DOCTYPE html>
<html>
<head>
  <title>BBQNyc</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<div class="row header">
<img class="logo" src="/assets/vertical-logo-small.png" />
</div>

  <div class="row centered">
    <ol class="steps" data-steps="4">
      <li class="to-do">Pick a Spot</li><!--
 --><li class="to-do">Select a Date</li><!--
 --><li class="to-do">Invite your Friends</li><!--
 --><li class="to-do">Grill</li>
    </ol>
    
  </div>

<%= yield %>


<hr / >
<div class="row footer">
Developed by: <a href="https://github.com/juliabecker" target="_blank">Julia Becker</a>, <a href="https://github.com/ajabdelaziz" target="_blank">Adam Abelaziz</a>, and <a href="https://github.com/xavier506" target="_blank">Xavier Fernandez</a><br/> at <a href="http://www.generalassemb.ly" target="_blank">General Assembly</a> &copy; 2015

</body>

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js"></script>
<script type="text/javascript"
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAo6PzRAoZk4B0bjhRAuf-w75EPha5Y9N4">
</script>

</html>
