#map-canvas {
  height: 500px;
  margin: 0px;
  padding: 0px
}

.centered {
  text-align: center;
  margin-bottom: 20px;
}

#slider{
  margin:10px;
}

ol.steps {
  margin: 0;
  padding: 0;
  list-style-type none;
} 

ol.steps li {
  display: inline-block;
  text-align: center;
  line-height: 3em;
}

ol.steps[data-steps="2"] li { width: 49%; }
ol.steps[data-steps="3"] li { width: 33%; }
ol.steps[data-steps="4"] li { width: 24%; }

ol.steps li.done {
  color: black;
  border-bottom: 4px solid yellowgreen;
}

ol.steps li.to-do {
  color: silver; 
  border-bottom: 4px solid silver;
}

ol.steps li.done {
  color: black;
  border-bottom: 4px solid yellowgreen;
}

ol.steps li.to-do {
  color: silver; 
  border-bottom: 4px solid silver;
}

ol.steps li:after {
 content: "\00a0\00a0";
}

ol.steps li:before {
  position: relative;
  bottom: -2.5em;
  float: left;
  left: 50%;
  line-height: 1em;
}

ol.steps li.done:before {
  content: "\2713";
  color: white;
  background-color: yellowgreen;
  height: 1.2em;
  width: 1.2em;
  line-height: 1.2em;
  border: none;
  border-radius: 1.2em;
}
ol.steps li.to-do:before {
  content: "\039F";
  color: silver;
  background-color: white;
  font-size: 1.5em;
  bottom: -1.6em;
}

