<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h2>Hey, <%= @user.name %>!</h2>
  <p>You have been invited to attend <%= @event.name %> on <%= @event.date %>.</p>
  <p>Click <a href=<%= @link %> >here</a> to RSVP and get grilling!</p>
</body>
</html>